<div fxLayout="column" class="main-div">
  <div fxLayout="row" fxFlex fxLayoutAlign="center start" class="m-2" *ngIf="fromAlarmComponent">
    <h1><strong>Alarm List</strong></h1>    
  </div>

  <div class="home-btn">
    <button type="button" class="btn btn-outline-primary m-2" (click)="goBackToHome()">
    Main Screen
  </button></div>

  <div class="home-btn" *ngIf="fromQualityParameterComponent" (click)="export_quality_parameter_excel()">
    <button type="button" class="btn btn-outline-primary m-2">
    <mat-icon> cloud_download</mat-icon>
  </button></div>

  <div fxLayout="row" fxFlex fxLayoutAlign="space-evenly start" class="m-2" *ngIf="fromAlarmComponent">
    <div class="mb-3">
      <input type="text" id="disabledTextInput" class="form-control bg-info" placeholder="Select   Date/PartNo" disabled>
    </div>
    <div class="mb-3">
      <input type="text" id="disabledTextInput" class="form-control" placeholder="D109210001" disabled>
    </div>
    <div class="mb-3" (click)="export_alarm_label_excel()" >
      <input type="text" id="disabledTextInput" class="form-control bg-warning text-dark" placeholder="Alarm List" disabled>
    </div>
  </div>

    <div class="mb-3"fxLayout="column" fxLayoutAlign="space-evenly start" *ngIf="fromAlarmComponent" >
    <table class=" table table-striped table-hover" id="print_alarm_list"  >
      <thead class="table-light">
      <tr >
        <th>Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Alarm List</th>
        <th>Duration</th>
      </tr>
</thead>

      <tbody>
        <tr  *ngFor="let user of data | paginate: {id:'listing_pagination',
   itemsPerPage: 10,
   currentPage: page,
   totalItems: totalRecords}">
         
          <td>{{user.gender}}</td>
          <td>{{user.name.first}}</td>
          <td>{{user.name.last}}</td>
          <td>{{user.name.last}}</td>
          <td>{{user.name.last}}</td>
              

        </tr>
      </tbody>
    </table>

    <div>
      <pagination-controls class="paginator-style" id="listing_pagination" maxsize="10" durationLinks="true" (pageChange)="page = $event">
      </pagination-controls>
    </div>
  </div>
  
<!-- fromQualityParameterComponent -->
<div class="mb-3"fxLayout="column" fxLayoutAlign="space-evenly start" *ngIf="fromQualityParameterComponent">
  <table class=" table table-striped table-hover"  id="quality_parameter_list"  >
    <thead class="table-light">
     <tr>
      <th>Sub St.</th>
      <th>Quality Parameter</th>
      <th>Remarks</th>
    </tr></thead>
    <tr >
      <th colspan="3">Updated Date - 22/10/2021 </th>
    </tr>
  
    <tbody>
      <tr  *ngFor="let user of data | paginate: {id:'listing_pagination',
 itemsPerPage: 10,
 currentPage: page,
 totalItems: totalRecords}">
       
             
            <td >{{user.name.first}}</td>
             <td >{{user.name.last}}</td>
             <td >{{user.name.last}}</td>

      </tr>
    </tbody>
  </table>

  <div>
    <pagination-controls class="paginator-style" id="listing_pagination" maxsize="10" durationLinks="true" (pageChange)="page = $event">
    </pagination-controls>
  </div>
</div>


</div>