.main-div {
    margin-right: 10%;
    margin-left: 10%;
  }
  .home-btn button {
    float: right;
    // margin-right: 10%;
  }
  .form-control{
      width: 20%;
  }

  table {
    width: 100%;
  }
  
  mat-header-cell, mat-cell {
    justify-content: center;
  }
  .table td,th {
    text-align: center;
    } 
.btn  .btn-outline-primary{
float:right !important;

}    