.main-div {
    margin-right: 10%;
    margin-left: 10%;
  }
  
    .heading{
      align-items: center;
    }
    .form-control::-webkit-input-placeholder {
      color: black;
      font-weight: bold;
  }
  .home-btn{
    float:right;
  }
  .table th,td {
    text-align: center;
    } 
  .home-btn button {
    float: right;
    margin-right: 10%;
  }
  .cloud_download{
    float: right;
  }