@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
.main-data-log{
 margin: 2%;
}
.home-btn button {
   float: right;
   margin-right: 10%;
 }