.home-main-div {
   width: 65%;
   height: 65%;
    
    position: absolute;
    // top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
  margin: auto;

}


button {
    outline: none;
    border: none;
    background-color: #fff;
    font-size: x-large;
}

.card-style {
  height: 100px;
}
