<div fxLayout="column" fxLayoutGap="15px" class="home-main-div">
    <!-- <div fxLayout="row" fxLayoutGap="25px" class="home-btn">
        <mat-card fxFlex="100" fxLayoutAlign="center" (click)="openDesiredComponent('dataLogging')">
            <button mat-stroked-button color="primary" >Data-logging Main screen</button>
        </mat-card>
        <mat-card fxFlex="100" fxLayoutAlign="center" (click)="openDesiredComponent('alarm')">
            <button mat-stroked-button color="primary" >Alarm</button>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutGap="25px" class="home-btn" >
        <mat-card fxFlex="100" fxLayoutAlign="center" fxFlexAlign="stretch" (click)="openDesiredComponent('labelPrinter')">
            <button mat-stroked-button color="primary" >Label Printer Menu</button>
        </mat-card>

        <mat-card fxFlex="100" fxLayoutAlign="center" fxFlexAlign="stretch" (click)="openDesiredComponent('admin')">
            <button  mat-stroked-button color="primary" >Admin</button>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutGap="25px" class="home-btn">
        <mat-card fxFlex="100" fxLayoutAlign="center" (click)="openDesiredComponent('qualityParameter')">
            <button mat-stroked-button color="primary" >Quality Parameter</button>
        </mat-card>
        <mat-card fxFlex="100" fxLayoutAlign="center" fxFlexAlign="stretch"  (click)="openDesiredComponent('future')">
            <button mat-stroked-button color="primary">For Future use</button>
        </mat-card>
    </div> -->

    <div fxLayout="row" fxLayoutGap="25px" class="home-btn card-style">
        <mat-card fxFlex="100" fxLayoutAlign="center" (click)="openDesiredComponent('dataLogging')">
            <button mat-stroked-button color="primary" >Data-logging Main screen</button>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutGap="25px" class="home-btn card-style" >
        <mat-card fxFlex="100" fxLayoutAlign="center" fxFlexAlign="stretch" (click)="openDesiredComponent('admin')">
            <button  mat-stroked-button color="primary" >Overall Production</button>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutGap="25px" class="home-btn card-style" >
        <mat-card fxFlex="100" fxLayoutAlign="center" fxFlexAlign="stretch" (click)="openDesiredComponent('dailyReport')">
            <button  mat-stroked-button color="primary" >Daily reports</button>
        </mat-card>
    </div>
    
</div>
