.main-div {
    margin-right: 10%;
    margin-left: 10%;
  }
  .home-btn button {
    float: right;
    // margin-right: 10%;
  }
  .form-control{
      width: 20%;
  }
  .print-btn button{
           float: right ;
           width: 12%;
  }
  .discard-btn{
    align-items: center;
  }